<extend name="Base/member_common" />
<block name="main">
<link href="__CSS__/home_cart.css" rel="stylesheet">
<div class="ncc-main">
  <div class="ncc-title" style="height:27px">
    <h3>申领提交完成</h3>
  </div>
  <div class="ncc-receipt-info" style="  height: 150px;">
  <div class="ncc-finish-a"><i></i>您已成功提交申请，管理员会在最快的时间内审核!</div>
  <div class="ncc-finish-b">您可通过个人中心<a href="{:U('Apply/apply_list')}">已提交的申领</a>查看申领单状态。</div>
  <div class="ncc-finish-c mb30"><a href="{:U('Search/index')}" class="ncc-btn-mini ncc-btn-green mr15"><i class="icon-shopping-cart"></i>继续申领</a><a href="{:U('Apply/apply_list')}" class="ncc-btn-mini ncc-btn-acidblue"><i class="icon-file-text-alt"></i>查看申领单</a></div>
  </div>
</div>
</block>