<!-- 导航条
================================================== -->
<div class="header">
	<div class="nav">
		<if condition="is_login()">
			<ul class="nav" style="margin-right:0">
				<li style="min-width: 35px;">
					<a href="{:U('User/logout')}"  style="padding-left:0;padding-right:0;  margin-left: 7px;" class="login_out">退出</a>
				</li>
				<li style="min-width: 35px;position:relative">
				<div class="addcart-goods-num">{$cart_count?$cart_count:0}</div>
					<a href="{:U('Cart/cart_index')}"  style="padding-left:0;padding-right:0"><span class="ico" style="  background-position: -120px 0;
    margin-top: -5px;  margin-right: 7px;"></span>申领车</a>
				</li>
				<li style="min-width: 100px;">
                    <a href="{:U('Cart/cart_index')}"  style="padding-left:0;padding-right:0"><span class="ico" style="  background-position: -100px 0;
   margin-top: -6px;"></span>个人中心</a>                    
                </li>
                <li>
                    <a href="#"  style="padding-left:0;padding-right:0">您好：<em>{:get_username()}</em> <b class="caret"></b></a>                    
                </li> 
            </ul>
		<else/>
			<ul>
				<li style="width: 50px;"><a href="{:U('User/register')}">注册</a></li>
				<li style="width: 50px;"><a href="{:U('User/login')}">登录</a></li>
			</ul>
		</if>
	</div>
</div>
<script>
	$('.login_out').click(function(){
		var self = $(this);
		$.get(self.attr("href"), '', success, "json");
		return false;

		function success(data){
			if(data){
				showDialog("退出成功", 'succ','','location.reload()','','','','','',2);
			} else {
				showDialog(data.info, 'error');
			}
		}
	});
</script>