<extend name="Base/common" />
<block name="body">
	<div class="search-container">
		<img src="__IMG__/logo.png" />
		<p>海军院校实习图库管理系统</p>
		<form action="{:U('Search/index')}">
			<select name="search_cate">
				<option value="all">全部</option>
				<option value="map">海图</option>
				<option value="book">航海图书</option>
				<option value="equipment">航海器械</option>
			</select>
			<input type="text" name="keyword"/>
			<input type="submit" class="form_button" value="搜索"/>
		</form>
	</div>
	<div class="container" style="background: url(__IMG__/login.png) no-repeat;background-size:100% 100% ; ">
		<div style="width: 1200px;margin: 0 auto;position: relative;height: 100%;">
			<div class="login-form">
				<p class="login-title">登录</p>
				<div class="input-area">
					<form action="__SELF__" method="post" id="login_form">
					<p>用户名</p>
					<input type="text"  placeholder="请输入用户名" name="username"/>
					<p>密码</p>
					<input type="password"  placeholder="请输入密码" name="password"/>
					<div style="height: 30px;">
						<a style="font-size: 12px;text-decoration: underline;">忘记密码</a>
					</div>
					<button type="submit">登 陆</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</block>
<block name="script">
	<script src="__JS__/jquery.validation.min.js"></script>
	<script type="text/javascript">
		$(document)
		$("#login_form").validate({
        errorPlacement: function(error, element){
            var error_td = element.prev('p');
            error_td.append(error);
        },
		rules: {
			username: "required",
			password: "required"
		},
		messages: {
			username: "*用户名不能为空",
			password: "*密码不能为空"
		}
	});
	
	
	    	$("#login_form").submit(function(){
	    		if($("#login_form").valid()){
	    			var self = $(this);
		    		$.post(self.attr("action"), self.serialize(), success, "json");
		    		return false;
		
		    		function success(data){
		    			if(data.status){
		    				window.location.href = data.url;
		    			} else {
		    				showDialog(data.info, 'error');
		    			}
		    		}
	            }
	    		
	    	});
	</script>
</block>