<extend name="Public/base"/>

<block name="body">
	<div class="main-title">
		<h2>
			{$info['id']?'编辑':'新增'}图书
		</h2>
	</div>

	<form action="{:U()}" method="post" class="form-horizontal">
		<div class="form-item">
			<label class="item-label">器材名称<span class="check-tips">（用于显示的文字）</span></label>
			<div class="controls">
				<input type="text" class="text input-large required" name="name" value="{$info.name|default=''}" placeholder="请输入器材名"  aria-required="true" aria-invalid="true" />
			</div>
		</div>
		<div class="form-item">
			<label class="item-label">器材编号<span class="check-tips">器材编码不能重复</span></label>
			<div class="controls">
				<input type="text" class="text input-large" name="esn" value="{$info.esn|default=''}">
			</div>
		</div>

        <div class="form-item">
            <label class="item-label">库存<span class="check-tips"></span></label>
            <div class="controls">
                <input type="text" class="text input-small" name="inventory" value="{$info.inventory|default='0'}">
            </div>
        </div>

        <div class="form-item">
            <label class="item-label">状态</label>
            <div class="controls">
                <select name="status">
				<option value="1" <eq name="info.status" value="1" >selected</eq>>启用</option>
				<option value="0" <eq name="info.status" value="0" >selected</eq>>停用</option>
                </select>
            </div>
        </div>
        <div class="thumb_image">


                <img src="/Uploads/Picture/thumb_{$info.image|default='default.jpg'}" width="263" height="197" class="img_thumb"/>

            <div> <input id="file_upload" name="file_upload" type="file" multiple="true" value="" /><span>图片规格：600*450</span></div>
            <input type="hidden" name="image" value="" id="image"/>

        </div>
		<div class="form-item">
			<input type="hidden" name="id" value="{$info.id|default=''}">
			<button class="btn submit-btn" id="submit" type="submit" target-form="form-horizontal">确 定</button>
			<button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
		</div>
	</form>
</block>
<block name="script">
<script type="text/javascript" charset="utf-8">
	//导航高亮
	highlight_subnav('{:U('index')}');
    $('form').validate();

    //判断sn
</script>
    <script>
        var img = '';
        $('#file_upload').uploadify({
            'swf'      : '__STATIC__/uploadify/uploadify.swf',
            'uploader' : '{:U("Equipment/upload",array("session_id"=>session_id()))}',   //上传的方法
            'buttonText' : ' 图片上传',
            'formData': { 'session': '<?php echo session_id();?>'},
            'onUploadSuccess' : function(file, data, response) {
                //把所有上传的图片都放入DIV中

                $(".img_thumb").attr("src","/Uploads/Picture/"+data);
                $("#image").val(data);
            }
        });
    </script>
</block>
