<extend name="Public/base"/>

<block name="body">
	<div class="main-title">
		<h2>图书管理</h2>
	</div>

	<div class="cf">

        <form action="{:U()}" method="get" class="form-inline">
            <a class="btn" href="{:U('add')}">新 增</a>
        <input class="text input-large" name="name" id="book" placeholder="图书名称" value="{$search.name}" />
            <input class="text input-small" name="bsn" id="bsn" placeholder="图书编码" value="{$search.bsn}"  />
            </select>
            <button class="btn" type="submit">查找</button>
        </form>
	</div>

	<div class="data-table table-striped">
		<table>
			<thead>
				<tr>

					<th>SN</th>
					<th>名称</th>
					<th>出版社</th>
                    <th>出版日期</th>
                    <th>库存/总计</th>
                    <th>状态</th>
                    <th>操作</th>
				</tr>
			</thead>
			<tbody>
				<notempty name="list">
				<volist name="list" id="book">
					<tr>
						<td>{$book.bsn}</td>
						<td>{$book.name}</a></td>
						<td>{$book.press}</td>
                        <td>{$book.publication_date}</td>
                        <td>{$book.inventory}/{$book.total}</td>
                        <td><eq name="book.status" value="1" >启用<else/>停用</eq></td>
						<td>
							<a title="编辑" href="{:U('edit?id='.$book['id'])}">编辑</a>
							<a class="confirm ajax-get" title="删除" href="{:U('del?id='.$book['id'])}">删除</a>

						</td>
					</tr>
				</volist>
				<else/>
				<td colspan="6" class="text-center"> aOh! 暂时还没有内容! </td>
				</notempty>
			</tbody>
		</table>
	</div>
    <div>
        {$_page}
    </div>
</block>

<block name="script">
</block>