<extend name="Public/base"/>

<block name="body">
	<div class="main-title">
		<h2>器材管理</h2>
	</div>

	<div class="cf">

        <form action="{:U()}" method="get" class="form-inline">
            <a class="btn" href="{:U('add')}">新 增</a>
        <input class="text input-large" name="name" id="name" placeholder="器材名称" value="{$search.name}" />
            <input class="text input-small" name="esn" id="esn" placeholder="器材编码" value="{$search.esn}"  />
            </select>
            <button class="btn" type="submit">查找</button>
        </form>
	</div>

	<div class="data-table table-striped">
		<table>
			<thead>
				<tr>

					<th>SN</th>
					<th>名称</th>
                    <th>库存/总计</th>
                    <th>状态</th>
                    <th>操作</th>
				</tr>
			</thead>
			<tbody>
				<notempty name="list">
				<volist name="list" id="info">
					<tr>
						<td>{$info.esn}</td>
						<td>{$info.name}</a></td>
                        <td>{$info.inventory}/{$info['inventory']+$info['apply_num']}</td>

                        <td><eq name="info.status" value="1" >启用<else/>停用</eq></td>
						<td>
							<a title="编辑" href="{:U('edit?id='.$info['id'])}">编辑</a>
							<a class="confirm ajax-get" title="删除" href="{:U('del?id='.$info['id'])}">删除</a>

						</td>
					</tr>
				</volist>
				<else/>
				<td colspan="6" class="text-center"> aOh! 暂时还没有内容! </td>
				</notempty>
			</tbody>
		</table>
	</div>
    <div>
        {$_page}
    </div>
</block>

<block name="script">
</block>